<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <credova>
                <active>0</active>
                <title>Credova</title>
                <logging_enabled>0</logging_enabled>
                <environment>Staging</environment>
            </credova>
        </payment>
    </default>
</config>
